body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  color: #b4a5a5;
  background-color: #151515;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#counter {
  font-weight: 600;
  padding: 20px;
  font-size: 50px;
}
button {
  background-color: #e8590c;
  font-size: 24px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  height: 36px;
  padding: 0px 18px;
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover {
  background-color: #ff7f3a;
}
.content {
  display: flex;
  align-items: center;
}
.success {
  color: #06f106;
}
.failure {
  color: #fa4848;
}
